<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viaje Aceptado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viaje_aceptado.css') }}">
</head>
<body>
    <h1>Ruta desde {{ origen }} hasta {{ destino }}</h1>
    <p>Distancia total: {{ distancia }} Km</p>
    <p>Tiempo estimado: {{ duracion_viaje }}</p>
    <p>Precio estimado: ${{ precio }}</p>

    <img src="{{ url_mapa }}" alt="Mapa del viaje">

    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}
</body>
</html>